	<form>
	<div id="comment" style="border:1px dashed #020;">
	<span>大侠，有何高见，可尽情留言</span>
		<textarea id="comment_box"></textarea>  

		<div class="comment_kongjian">
			<label>姓名:</label>
			<input class="commentNE" type="text" name="commentNmae" >
			<label>邮箱:</label>
			<input class="commentNE" type="text" name="commentEmail">
			<input class="btn btn-info liuyan" type="submit" name="liuyan" value="留言">
		</div>
	</div>
	</form>
		
	<div class="comment_list">	
		<h4>评论</h4>

		<span style="float:right">0条评论</span>
		<hr/>

		<ul style="border:1px dashed #598">
			<li class="comments_list">
				<img src="">
				<a href="#">ChenYong</a>
				<span>2016-11-29 20:05</span>
				<p>hello</p>
			</li>
			<li class="comments_list">
				<img src="">
				<a href="#">ChenYong</a>
				<span>2016-11-29 20:05</span>
				<p>hello</p>
			</li>
			<li class="comments_list"></li>
			<li class="comments_list"></li>
		</ul>
	</div>
