/*博客编辑页面的样式表*/
*{
	padding: 0;
	margin : 0; 
}
.ding{
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 1000;
}
.col-md-2{
	padding: 0
}

.col-md-10{
	background-color:#eee;
	padding: 0;
}
.editor_blog_right h3{
	clear: both;
	background-color: white;
	padding: 10px 0 10px 20px;
	margin:18px;
}
.exite{
	float: right
}
.logo{
	background-color:#72d2f1;
	text-align: center;
}

/*以下是左侧导航栏的链接标签样式*/
.list{
	width : 100%;
}
.list ul{
	list-style: none;
}
.list>ul>li{
	width        : 100%;
	border-bottom: 1px solid #666;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
			transition: .3s ease;
}
.list>ul>li p[class=title]{
	width      : 100%;
	text-align : center;
	background : #72d2f1;
	height     : 50px;
	line-height: 50px;
	padding    : 0;
	border     : none;
	position   : relative;
	font-size  : 20px;
	margin: 0;
	cursor: pointer;
	color: #eee;
}
.list>ul>li p[class=title]>span{
	position: absolute;
	right: 10%;

}
.list-se{
	overflow: hidden;
	display: none;
}
.list-se>p{
	background: #444 !important;
	color     :#ee4977;
}
.list-se>li{
	position: relative;
	right   : -120%;
	-webkit-transition: right .5s;
	-moz-transition   : right .5s;
	-o-transition     : right .5s;
	transition        : right .5s;
}
.list-se>li>p{
	margin: 0;
	background  : #3b3b3b;
	color       : #f0f0f0;
	height      : 50px;
	-webkit-box-sizing :border-box;
	        box-sizing :border-box;
	padding-left: 10px;
	line-height : 50px;
	border-left : 5px solid #3b3b3b; 
	-webkit-transition   : border .5s; 
			 transition  : border .5s;
	-webkit-transition   : background .3s;
			 transition  : background .3s;
}
.list-se>li>p:hover{
	border-color: blue; 
	background  : #5b5b5b;
}
/*以上是左侧导航栏的链接标签*/

/*编辑部分的样式表格*/
.editor{
	
	min-height: 500px;
	background-color: white;
	margin: 18px;
	padding: 10px 20px;
}
.ueditor{
	
	min-height: 300px;
}


/*-------博客列表专页的css样式表格-------*/	
table{background-color:#fff;}
th{text-align: center;}
td{text-align: center;}

.ding{min-height: 672px;}
.logo{height: 150px}
.blog_list_right{
	
	position:absolute;
	left:227px;
	padding:15px;
	min-height:672px;
}
.bo_ke_lie_biao{
	background-color: #fff;
	margin: 0 0 18px 0;
	padding:10px 0 10px 20px;
}